page-home {
    p {
        color: red;
    }

    ion-card {
        height        : 25rem;
        text-align    : center;
        vertical-align: center;
        font-size     : 30px;
        font-weight   : 600;
    }

    ion-card:hover,
    ion-item:hover {
        background-color: #f0f0f0;
        border: 1px solid #0096ff;
    }

    ion-card:active {
        background-color: #999;
    }
}